{% include 'components/metadata.html' %}

<body>
    <script src="static/scripts/index.js"></script>

    {% include 'components/header.html' %}

    <main>

        <br>
        <h1>STYLEBOOK OF THE YALE DAILY NEWS</h1>

        <form class="search" action="search" method="get" target="_blank">

            <select name="t" id="searchtype">
                <div class="dropdown">
                    <option value="keyword">Keyword</option>
                    <option value="term">Term</option>
                    <option value="entry">Entry</option>
                </div>
            </select>

            <input type="text" id="keyword" name="q" class="searchbar" placeholder="Search the Stylebook" autocomplete="off">
        </form>

        <div id="results"></div>

    </main>

    {% include 'components/footer.html' %}
</body>