{% include 'components/metadata.html' %}

<body>
    <script src="static/scripts/index.js"></script>

    {% include 'components/header.html' %}

    <main>

        <br>
        <h1>The Yale Daily News - Copy Desk</h1>

        <form class="search" action="search" method="get" target="_blank">
            <input type="text" id="keyword" name="q" class="searchbar" placeholder="Search the Stylebook">
        </form>

        <div id="results"></div>

    </main>

    {% include 'components/footer.html' %}
</body>