{% include 'components/metadata.html' %}

<body>
    <header id="top">
        <a href="https://yaledailynews.com/" target="_blank"><img src="static/images/nameplate_recolor2.png" alt="The Yale Daily News" style="float:left;padding-top:5px;padding-left:15px;max-width:10%;"></a>

        <nav>
            <a href="/" class="pages">Home</a>
            <a href="/top10" class="pages">Top 10 Rules</a>
            <a href="/stylebook" class="pages current_page">Stylebook</a>
            <a href="/edits" class="pages">Edits</a>
            <a href="https://www.apstylebook.com/" class="pages" target="_blank">AP Style</a>
            <a href="/staff" class="pages">Copy Staff</a>
        </nav>
    </header>

    <main>
        <div>
            <br>
            <h1>STYLEBOOK OF THE YALE DAILY NEWS</h1>
            <h2 style="margin-bottom:1.5lh;">Fourth Edition, Produced January 2024</h2>

            <p style="margin-left:150px;margin-right:150px;text-align:justify;">
                The Stylebook of the Yale Daily News takes precedence over the <a href="http://www.apstylebook.com/" target="_blank">AP Stylebook</a>, and the AP Stylebook takes precedence over the <a href="http://www.merriam-webster.com/" target="_blank">Merriam-Webster Dictionary</a> in cases of disagreement. If no entry exists for a question encountered during production, please keep note of the issue and report the matter to a copy editor.
            </p>
            <br>
            <p style="text-align:center;">
                — 
                {% for letter in dictionary.keys() %}
                <a href="#{{letter}}" class="letters">{{letter}}</a> 
                {% endfor %}
                —
            </p>
        </div>

        {% for section in dictionary.keys() %}
            {% if dictionary[section] | length != 0 %}
        
                {% include 'components/section.html' %}

            {% endif %}
        {% endfor %}

    </main>

    {% include 'components/footer.html' %}
</body>