<header id="top">
    <a href="https://yaledailynews.com/" target="_blank"><img src="static/images/nameplate_recolor2.png" alt="The Yale Daily News" style="float:left;padding-top:5px;padding-left:15px;max-width:10%;"></a>

    <nav>
        <a href="/" id="index" class="pages">Home</a>
        <a href="/top10" id="top10" class="pages">Top 10 Rules</a>
        <a href="/stylebook" id="stylebook" class="pages">Stylebook</a>
        <a href="/edits" id="edits" class="pages">Edits</a>
        <a href="https://www.apstylebook.com/" class="pages" target="_blank">AP Style</a>
        <a href="/staff" id="staff" class="pages">Copy Staff</a>
    </nav>
</header>