<form class="search" action="search" method="get" target="_blank">

    <select name="t" id="searchtype">
        <div class="dropdown">
            <option value="keyword">Keyword</option>
            <option value="term">Term</option>
            <option value="entry">Entry</option>
        </div>
    </select>

    <input type="text" id="keyword" name="q" class="searchbar" placeholder="Search the Stylebook" autocomplete="off">

    <div class="check" title="Match full words only">
        <input type="checkbox" id="full" name="f">
        <label class="checkmark" for="full">✔</label>
    </div>
</form>